__pycached__
wandb/*
test_data/
test_data/bigger
test_data/bigger_ucf.txt
test_data/cam.py
test_data/canshutiaozhen.py
test_data/confusion_matrix.py
test_data/dual_distiller.py
test_data/juzheng.py
test_data/k400_chuli.py
test_data/main_distill.py
test_data/mamba_hmbd51.txt
test_data/mamba_ucf.txt
test_data/max_hmbd51_tdn.png
test_data/max_hmbd51.png
test_data/max_ucf101.png
test_data/max.png
test_data/sst_Test
test_data/tdn_hmbd51.txt
test_data/tdn_ucf.txt
test_data/teacher_models.py
